<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

    {% block content %}
        {% block header %}
        <div class="jumbotron">
            <h1>Registre seu produto!</h1>
        </div>
        {% endblock header %}
            <h2>
                <a href="{% url 'users:register' %}">Registre Sua conta</a>
                Crie sua conta para cadastrar algum produto.
            </h2>

    {% endblock content %}
</body>
</html>